<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="FolderAPath" value="C:\Проэкты (програмирование)\C#\Свои проекты\DataProcessingService(Task1Radency)\FolderA" />
		<add key="FolderBPath" value="C:\Проэкты (програмирование)\C#\Свои проекты\DataProcessingService(Task1Radency)\FolderB" />
	</appSettings>
</configuration>
